<div class="search">
    <a href="/search">输入书名/作者/关键词</a>
</div>
<div class="swiper-container banner swiper-no-swiping">
    <div class="swiper-wrapper ">
        {{#each data.data}}
        <div class="swiper-slide">
            <img src='{{ad_pic_url}}' title="{{ad_name}}">
        </div>
        {{/each}}
    </div>
</div>
<div class="nav">
    <ul>
        <li>
            <i></i>
            <span>限免</span>
        </li>
        <li>
            <i></i>
            <span>限免</span>
        </li>
        <li>
            <i></i>
            <span>限免</span>
        </li>
        <li>
            <i></i>
            <span>限免</span>
        </li>
        <li>
            <i></i>
            <span>限免</span>
        </li>
    </ul>
</div>
<div class="cont week-hot">
    <div class="title">本周最火</div>
    <div></div>
</div>
<div class="cont">
    <div class="title">重磅推荐</div>
    <div></div>
</div>
<div class="cont">
    <div class="title">女生最爱</div>
    <div></div>
</div>
<div class="cont">
    <div class="title">限时免费</div>
    <div></div>
</div>
<div class="cont">
    <div class="title">精选专题</div>
    <div></div>
</div>
<div class="list"></div>